body{
    font-family: Arial, sans-serif;
    background-image: url(imgs/gremio3.jpg);
    background-size: cover;
}
.container{
    max-width: 400px;
    background: white;
    padding: 20px;
    margin: 50px auto;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}
h1{
    text-align: center;
    color: #333;
}
form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
input, button{
    padding: 8px;
    font-size: 16px;
}
button{
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

button:hover{
    background-color: #0D80BF;
}
#lista-produtos{
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color:#0D80BF;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

.btn-remover {
    background-color: #ABAAAA;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
}

.btn-remover:hover {
    background-color: #93754F;
}